name: Auto deploy upon push
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  deploy:
    runs-on: 'ubuntu-latest'
    steps:
      - name: executing remote ssh commands using key
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_SSH_NEW_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            cd farm-project/Farm-Products && git pull origin main || true && pm2 restart farm-project || pm2 start ecosystem.config.json
